

#navbar{
    color: black;

}
.navbar{
    padding: 2rem 4rem 0;
    color:#FFBF00;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link {
    color:#FFBF00;
}

.navbar-dark .navbar-brand {
    color:#FFBF00;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
    color:#FFBF00;
}

#title{
    text-align: center;
    background: url('../images/titleBackground.jpeg') no-repeat center center fixed ;
    box-shadow: inset 0 0 0 1000px rgba(84, 3, 117, .5);
    color: #FFBF00;
    height: 800px;
    font-family: 'Rufina';
    letter-spacing: .1rem;
}

.title-box{
    margin-top: 15%;
}


#projects{
    padding: 7% 5%;
    text-align: center;
}

.project-image{
    width: 100%;
    height: 80%;
    box-shadow: 1px 1px 2px #540375, 0 0 6px #FFBF00, 0 0 5px #540375;
}

.img-text{
    padding: 3% 7%;
    font-family: 'Rufina';
    letter-spacing: .1rem;
}

#press{
    background-color: #540375;
    padding: 7% 15%;
    text-align: center;
    font-family: 'Rufina';
    color: #FFBF00;
}

.press-heading{
    padding:3%;
    letter-spacing: .1rem;
}

.press-logo{
    padding-bottom: 3%
}


.img-box{
   
}

#testimonials{
    /* text-align: left; */
    /* overflow:auto; */
    /* padding: 3% 7%; */
 
    padding: 7% 3%;
}

.right{
    float: right;
}

.testimonials-text{
    font-size: 1.5rem;
    font-family: "Rufina";
    color: black;
    background-color: rgba(84, 3, 117, .5);
    height: fit-content;
    width: fit-content;
    box-shadow: 1px 1px 2px #540375, 0 0 6px #FFBF00, 0 0 5px #540375;
    margin-right: 5%;
    margin-left: 5%;
}


.test-img{
border-radius: 100%;
height: auto; 
width: auto; 
max-width: 250px; 
max-height: 250px;
box-shadow: 1px 1px #540375, 0 0 6px #FFBF00, 0 0 5px #540375;

}

.testimonials-heading{
    font-family: 'Rufina';
    letter-spacing: .1rem;
}


/* CTA */

#cta{
    background-color: #540375;
    text-align: center;
    padding: 7% 15%;
    font-family: 'Rufina';
    color: #FFBF00;
    letter-spacing: .1rem;
}

.cta-button{
    margin: 2%;
    font-family: "Rufina";
    letter-spacing: .1rem;
}

/* Footer */

#footer{
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
}

.footer-icon{
    padding:1%;
}